// Header

.header
	height: 80px
	background-color: #fff
	display: flex
	align-items: center
	justify-content: space-between
	padding: 030px

.main-menu
	list-style: none
	display: flex
	&__item
		position: relative
	&__link
		color: $color
		font-size: 14px
		[class*="icon"]
			font-size: 8px
			color: $color-blue

