---
title: Index Page
---
extends layouts/_layout
block content

		main.main

			section.header-inner(style="background-image: url('img/header-inner.png')")

		footer

script(src="js/jquery-3.2.1.min.js")
script(src="js/custom.js")
