---
title: Index Page
---
extends layouts/_layout
block content
	h1 Index page
	.main-wrapper

		header



		main.main

		
		
		footer


	


script(src="js/jquery-3.2.1.min.js")
script(src="js/custom.js")
