//BEGIN header
header.header
  .logo
    a(href="#")
      img(src="img/logo.png", alt="logo.png")
  ul.main-menu
    li.main-menu__item
      a(href="#").main-menu__link Men
        span.icon-caret
      .dropdown-content
        ul.dropdown-menu
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Bags
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Caps & Hats
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Gifts
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Grooming
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Hoodies & Sweatshirts
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Jackets & Coats
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Jeans
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Jewellery
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Joggers
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Jumpers & Cardigans
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Leather Jackets
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Long Sleeve T-Shirts
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Loungewear
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link  Polo Shirts
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Sunglasses
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Swimwear
    li.main-menu__item
      a(href="#").main-menu__link Women
        span.icon-caret
      .dropdown-content
        ul.dropdown-menu
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Shirts
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Shoes, Boots & Train
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Shorts
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Suits & Blazers
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Sunglasses
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Swimwear
    li.main-menu__item
      a(href="#").main-menu__link Kids
        span.icon-caret
      .dropdown-content
        ul.dropdown-menu
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link New Arrivals
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Dresses
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Tops
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Sweaters & Knits
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Jackets & Coats
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link Rompers & Jumpsuits
    li.main-menu__item
      a(href="#").main-menu__link Accessories
        span.icon-caret
      .dropdown-content
        ul.dropdown-menu
          li.dropdown-menu__item
            a(href="#").dropdown-menu__link
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Hair Accessories
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Sunglasses & Readers
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Socks & Tights
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Hats
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Scarves & Gloves
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Jackets & Coats
            li.dropdown-menu__item
              a(href="#").dropdown-menu__link Rompers & Jumpsuits
    li.main-menu__item
      a(href="#").main-menu__link Sale
    li.main-menu__item
      a(href="#").main-menu__link LookBook
    li.main-menu__item
      a(href="#").main-menu__link Blog

  .search
    form(action="#")
      input(type="text" placeholder="Search...").form-control.search__input
      input(type="submit" value="").search__button

  .location
    span.icon-location-pin
    a(href="#").location__link Uzbekistan / $

  
//END header
