meta(charset="utf-8")
title= title || 'Aware'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/app.css")
link(href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|PT+Serif:400,400i,700,700i|Varela+Round" rel="stylesheet")
