- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class=name + modClass)
    use(xlink:href= svgSprite + '#' + name)

mixin link(href, name)
  a(href=href)&attributes(attributes)= name

mixin dropdown (itemName)
  .dropdown-content
    ul.dropdown-menu
      each name in itemName
        li.dropdown-menu__item
          a(href="/#{name}.html").dropdown-menu__link= name